/* Full Reset and Accurate Boxing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.border {
    border-style: solid;
    border-color: aqua;
}


/*Header*/
header {
    position:relative;
    background-color: white;
    padding: 1rem 0em 1rem;
    color: hsla(0, 0%, 0%, 0.2);
    box-shadow: 0px 2px 3px;
}

header h1 {
    color: black;
    margin-left:4rem;
    margin-right:4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

header h1 span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.2rem;
    color:hsl(17, 100%, 59%);
}

/**/
body{
    background-color: black;
}
main {
    padding: 1rem 0em 1rem;
    background-color: white;
}

/**/
.board-container {
    display: flex;
    flex-direction: column;
    
    padding: 1rem;
    min-height: 65vh;
}
.board-details-container {
    display:flex;
    justify-content:space-between;
    align-items: center;
    
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 0rem 0rem 1rem;
}
.board-details-container h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
}
.board-details-container button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    box-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.1);
    border-radius: .5rem;

    font-size: 12px;
    padding:.5rem;
}
.board-details-container button:hover {
    background-color: hsl(0, 0%, 98%);
}
.board-details-container button:active {
    background-color: hsl(0, 0%, 95%);
}
.board-contents-container {
    display:flex;
    
    margin-left: 4rem;
    margin-right: 4rem;
}
#btnAddSection {
    padding:1rem 0rem 1rem;
    font-size: 12px;
    background-color: white;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    box-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.1);
    border-radius: .5rem;
    margin-left:4rem;
    margin-right:4rem;
}
#btnAddSection:hover {
    background-color: hsl(0, 0%, 98%);
}
#btnAddSection:active {
    background-color: hsl(0, 0%, 95%);
}

/**/
.section-container {
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    color: hsla(0, 0%, 0%, 0.2);
    box-shadow: 0px 2px 3px;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 25%;
}
.section-details-container {
    font-family:Arial, Helvetica, sans-serif;


    color:black;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.section-content-container {
    padding: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}

/**/
.task-container {
    padding: 1rem;
    border-radius: 5px;
    color: hsla(0, 0%, 0%, 0.2);
    box-shadow: 0px 2px 3px;
    width:100%;
    margin: .5rem;
}
.task-details-container {
    font-family:Arial, Helvetica, sans-serif;
    
    color:black;
    display:flex;
    justify-content: space-between;
}

/**/
footer {
    padding: 1rem 0em 1rem;
    background-color: black;
    color: hsla(0, 0%, 0%, 0.2);
    box-shadow: 0px -2px 3px;
}

footer h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 100%);
    margin-left:4rem;
    margin-right:4rem;
} 